# Modele uczenia maszynowego (PyTorch/TensorFlow)
*.pth
*.pt
*.onnx

# Zmienne środowiskowe (KRYTYCZNE)
.env
.env.local
.env.development
.env.test
.env.production

# Backend (Python)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
backend/data/output
output/
.idea/
# Frontend (Node.js / React)
node_modules/
dist/
build/
.npm/

# Lokalne foldery i śmieci
archive/